
html {
    width: 4096px;
    height: 2304px;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 4096px;
    height: 2304px;
    overflow: hidden;
    background-color: #000000;
}

img, a {
    width: 1366px;
    height: 2304px;
}

#donkey {
    position: absolute;
    top: 0;
    left: 0;
}

#doom {
    position: absolute;
    top: 0;
    left: 1366px;
}

#sonic {
    position: absolute;
    top: 0;
    left: 2732px;
}
