@font-face {
    font-family: font;
    src: url(./Jumpman.ttf);
}

html {
    background-color: #009e12;

    background: rgb(0,158,18);
    background: linear-gradient(0deg, rgba(0,158,18,1) 75%, rgba(0,255,2,0.9) 85%);
    width: 2048px;
    height: 1152px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #08d620;
}
  
li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
  
/* Change the link color on hover */
li a:hover {
    background-color: #04AA6D;
    color: #ffffff;
}

.active {
    background-color: #ffff12;
    color: #ffffff;
}

.dktitle {
    position: absolute;
    left: 350px;
    top: -10px;
    font-family: font;
    color: red;
    font-size: 75px;
    text-shadow: 3.5px 0 #ffff12, -3.5px 0 #ffff12, 0 3.5px #ffff12, 0 -3.5px #ffff12,
               3.5px 3.5px #ffff12, -3.5px -3.5px #ffff12, 3.5px -3.5px #ffff12, -3.5px 3.5px #ffff12;
}

.countrytitle {
    position: absolute;
    left: 400px;
    top: 40px;
    font-family: font;
    color: rgb(2, 182, 205);
    font-size: 85px;
    text-shadow: 3.5px 0 #ffde04, -3.5px 0 #ffde04, 0 3.5px #ffde04, 0 -3.5px #ffde04,
               3.5px 3.5px #ffde04, -3.5px -3.5px #ffde04, 3.5px -3.5px #ffde04, -3.5px 3.5px #ffde04;
}

.swing{
    position: absolute;
    width: 260px;
    right: 25px;
    top: 0px;
}

.dklvl1{
    position: absolute;
    width: 2048px;
    bottom: 0px;
    left: 0px;
}

.video{
    position: absolute;
    left: 0px;
    bottom: 315px;
    width: 800px;
    height: 600px;
}

#videodescription{
    position: absolute;
    left: 850px;
    top: 220px;
    font-size: 35px;
    font-family: font;
    text-shadow: 2.5px 0 #000000, -2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, 2.5px 2.5px #000000, -2.5px -2.5px #000000, 2.5px -2.5px #000000, -2.5px 2.5px #000000;
    color: white;
}

#gameplaydescription{
    position: absolute;
    left: 850px;
    top: 430px;
    font-size: 35px;
    font-family: font;
    text-shadow: 2.5px 0 #000000, -2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, 2.5px 2.5px #000000, -2.5px -2.5px #000000, 2.5px -2.5px #000000, -2.5px 2.5px #000000;
    color: white;
}

#leveldescription{
    position: absolute;
    left: 850px;
    bottom: 300px;
    font-size: 35px;
    font-family: font;
    text-shadow: 2.5px 0 #000000, -2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, 2.5px 2.5px #000000, -2.5px -2.5px #000000, 2.5px -2.5px #000000, -2.5px 2.5px #000000;
    color: white;
}
#donkeykong{
    position: absolute;
    left: 800px;
}
#dkdescriptiont{
    position: absolute; 
    top: 500px;
    left: 800px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#dkdescription{
    position: absolute;
    top: 530px;
    left: 800px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#diddykong{
    position: absolute;
    top: 480px;
    left: 100px;
}
#diddydescriptiont{
    position: absolute;
    top: 710px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#diddydescription{
    position: absolute;
    top: 740px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#crankykong{
    position: absolute;
    top: 800px;
    left: 100px;
}
#crankydescriptiont{
    position: absolute;
    top: 975px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#crankydescription{
    position: absolute;
    top: 1005px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#funkykong{
    position: absolute;
    left: 100px;
}
#funkydescriptiont{
    position: absolute;
    top: 390px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#funkydescription{
    position: absolute;
    top: 420px;
    left: 100px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#kingkrool{
    position: absolute;
    left: 800px;
    top: 620px;
}
#kingdescriptiont{
    position: absolute;
    left: 800px;
    top: 970px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#kingdescription{
    position: absolute;
    left: 800px;
    top: 1000px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#kremling{
    position: absolute;
    left: 1500px;
}
#kremlingdescriptiont{
    position: absolute;
    left: 1500px;
    top: 330px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#kremlingdescription{
    position: absolute;
    left: 1500px;
    top: 360px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#zinger{
    position: absolute;
    left: 1450px;
    top: 450px;
}
#zingerdescriptiont{
    position: absolute;
    left: 1450px;
    top: 610px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#zingerdescription{
    position: absolute;
    left: 1450px;
    top: 640px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}

#chomps{
    position: absolute;
    left: 1400px;
    top: 720px
}
#chompsdescriptiont{
    position: absolute;
    left: 1400px;
    top: 880px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}
#chompsdescription{
    position: absolute;
    left: 1400px;
    top: 910px;
    font-family: font;
    text-shadow: 1px 0 #000000, -1px 0 #000000, 0 1px #000000, 0 -1px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    color: white;
}


#hometekst1{
    position: absolute;
    left: 200px;
    top: 350px;
    font-size: 35px;
    font-family: font;
    text-shadow: 2.5px 0 #000000, -2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, 2.5px 2.5px #000000, -2.5px -2.5px #000000, 2.5px -2.5px #000000, -2.5px 2.5px #000000;
    color: white;
}
#hometekst2{
    position: absolute;
    left: 800px;
    top: 750px;
    font-size: 35px;
    font-family: font;
    text-shadow: 2.5px 0 #000000, -2.5px 0 #000000, 0 2.5px #000000, 0 -2.5px #000000, 2.5px 2.5px #000000, -2.5px -2.5px #000000, 2.5px -2.5px #000000, -2.5px 2.5px #000000;
    color: white;
}

#homeimg1{
    position: absolute;
    left: 100px;
    top: 750px;
}
#homeimg2{
    position: absolute;
    left: 1000px;
    top: 300px;
}