@font-face {
    font-family: font;
    src: url(./Jumpman.ttf);
}

html {
    background-color: #009e12;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #08d620;
}
  
li a {
    display: block;
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}
  
/* Change the link color on hover */
li a:hover {
    background-color: #04AA6D;
    color: #000000;
}

.active {
    background-color: #ffff12;
    color: #08d620;
}

.dktitle {
    position: absolute;
    left: 350px;
    top: 25px;
    font-family: font;
    color: red;
    font-size: 75px;
    text-shadow: 3.5px 0 #ffff12, -3.5px 0 #ffff12, 0 3.5px #ffff12, 0 -3.5px #ffff12,
               3.5px 3.5px #ffff12, -3.5px -3.5px #ffff12, 3.5px -3.5px #ffff12, -3.5px 3.5px #ffff12;
}

.countrytitle {
    position: absolute;
    left: 400px;
    top: 75px;
    font-family: font;
    color: rgb(2, 182, 205);
    font-size: 85px;
    text-shadow: 3.5px 0 #ffde04, -3.5px 0 #ffde04, 0 3.5px #ffde04, 0 -3.5px #ffde04,
               3.5px 3.5px #ffde04, -3.5px -3.5px #ffde04, 3.5px -3.5px #ffde04, -3.5px 3.5px #ffde04;
}

.swing{
    position: absolute;
    width: 260px;
    right: 25px;
    top: 0px;
}

.dklvl1{
    position: absolute;
    width: 2048px;
    bottom: 0;
    left: 0;
}